.top__items {
    text-align: center;
    margin-bottom: 4rem;
}

.bottom__items {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

@media (max-width: 1024px) {
    .bottom__items {
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}