.tag__container {
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    background: color-mix(in srgb, var(--color-bg) 50%, transparent);
    color: var(--color-text-secondary);
    border: 1px solid color-mix(in srgb, var(--color-text-secondary) 5%, transparent);

    &:hover {
        cursor: default;
    }
}